/*
Theme Name: Lupax-Wiki
Author: Jakob Frisch
Version: 1.0
Text Domain: lupax-wiki
*/

/* roboto-slab-regular - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/roboto-slab-v24-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/roboto-slab-v24-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/roboto-slab-v24-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/roboto-slab-v24-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/roboto-slab-v24-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/roboto-slab-v24-latin-regular.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}
/* lato-300 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/lato-v23-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/lato-v23-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/lato-v23-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/lato-v23-latin-300.woff') format('woff'), /* Modern Browsers */
       url('fonts/lato-v23-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/lato-v23-latin-300.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/lato-v23-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/lato-v23-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/lato-v23-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/lato-v23-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/lato-v23-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/lato-v23-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/lato-v23-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/lato-v23-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/lato-v23-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/lato-v23-latin-700.woff') format('woff'), /* Modern Browsers */
       url('fonts/lato-v23-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/lato-v23-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
}

/*** COLORS ***/
:root{
    --primary: #45629F;
    --blue-dark: #334978;
    --dark: #363c46;
}

/*** SCROLL BAR ***/
::-webkit-scrollbar {
	height: 14px;
	overflow: visible;
	width: 14px;
}
::-webkit-scrollbar-thumb {
	background-color: #cbcbcb;
	background-clip: padding-box;
	border: solid transparent;
	border-width: 0;
	min-height: 28px;
	padding: 100px 0 0;
	/* box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07); */
}
::-webkit-scrollbar-button {
	height: 0;
	width: 0;
}
::-webkit-scrollbar-track {
	background-clip: padding-box;
	border: solid transparent;
	border-width: 0 0 0 4px;
    background: white;
}
::-webkit-scrollbar-corner {
	background: transparent;
}

/*** GENERAL ***/
*{
	box-sizing: border-box;
}
html{
	height: 100%;
}
html.admin-bar{
	height: calc(100% - 32px);
}

h1,h2,h3,h4,h5{
	font-family: 'Roboto Slab';
}
hr{
	border: none;
	height: 1px;
	background: #ddd;
}
.card{
    background: white;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 0px 2px rgba(0,0,0,0.24);
    border-radius: 4px;
}
code{
	background: #f9f9f9;
    padding: 2px 5px 2px 5px;
    /* font-family: 'Lato'; */
	color: #456292;
	border: 1px solid #ddd;
	font-size: 14px;
	vertical-align: text-top;
	margin: 0 2px;
}
.wp-block-code code{
	display: block;
	white-space: pre-wrap;
	background: #f0f4f9;
	padding: 5px 10px;
}
.wp-block-button__link{
    margin-top: 10px;
}
.wp-block-quote {
    background: rgba(172, 191, 223, 0.5);
    border-left: 5px solid var(--primary);
    padding: 10px 30px;
    margin: 20px 0;
}
#content .wp-block-quote p{
    margin: 0 0 10px 0;
}
#content .wp-block-quote p:last-child{
    margin-bottom: 0;
}

/*** LAYOUT ***/
body{
	min-height: 100%;
	/* display: grid; */
    display: flex;
    flex-direction: column;
	margin: 0;
	/* grid-template:
		"header header" auto
		"sidebar main" 1fr
		/ 320px 1fr; */
	background: #e5e5e5;
	color: #404040;
	font: 16px/1.6 'Lato';
}
.main-wrapper{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

#header{
	/* grid-area: header; */
	background: var(--blue-dark);
	color: white;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 0px 2px rgba(0,0,0,0.24);
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 1;
}
html.admin-bar #header{
    top: 32px;
}
#header .main-wrapper{
    display: flex;
    align-items: center;
    height: 100%;
}
#main{
	/* grid-area: main; */
	display: flex;
    flex: 1;
    column-gap: 20px;
    align-items: flex-start;
}

/*** HEADER ***/
#header img{
	width: auto;
	height: 60%;
	margin-right: 14px;
    margin-left: 2px;
}
#header .title{
	text-align: center;
	color: white;
	text-transform: uppercase;
	font-weight: 300;
	padding: 10px 0 10px 0;
	font-size: 18px;
	letter-spacing: 1px;
	opacity: 0.8;
}

/*** SIDEBAR LEFT: NAV ***/
#sidebar{
	background: white;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 0px 2px rgba(0,0,0,0.24);
    border-radius: 4px;
    margin: 20px 0;
    flex: 0 0 300px;
    position: sticky;
    top: 90px;
    overflow-y: auto;
    max-height: calc(100vh - 110px);
}
#sidebar::-webkit-scrollbar {
	height: 10px;
	width: 10px;
}
#sidebar::-webkit-scrollbar-track{
    background: #eee;
}
html.admin-bar #sidebar{
    top: 122px;
    max-height: calc(100vh - 142px);
}
#nav{
	font-size: 15px;
}
#nav ul{
	list-style: none;
	padding: 0;
    margin: 0;
}
#nav a{
	/* color: #ddd; */
    color: #333;
	text-decoration: none;
	display: inline-flex;
	padding: 7px 20px;
    width: 100%;
    align-items: center;
}
#nav a i.fa{
    margin-right: 15px;
    width: 20px;
    text-align: center;
    font-size: 18px;
    margin-left: -5px;
    color: #444;
}
#nav ul.sub-menu a{
	padding-left: 30px;
}
#nav ul.sub-menu a i.fa{
    display: none;
}
#nav ul.sub-menu{
	display: none;
}
#nav li.current-menu-item > ul.sub-menu,
#nav li.current-menu-ancestor > ul.sub-menu
/* #nav ul.sub-menu li.current-menu-item ul.sub-menu,
#nav ul.sub-menu li.current-menu-ancestor ul.sub-menu */
{
	display: block;
}
#nav ul.sub-menu ul.sub-menu a{
	padding: 3px 10px 3px 50px;
}
#nav > div > ul > li > a:hover{
	background: #e5e5e5;
}

/* #nav li.current-menu-item li a, */
/* #nav li.current-menu-parent a, */
#nav > div > ul > li.current-menu-ancestor > a,
#nav > div > ul > li.current-menu-item > a{
	/* background: #D5DFEF;
	color: #333; */
    background: var(--primary) !important;
    color: white !important;
}
#nav > div > ul > li.current-menu-ancestor > a > i.fa,
#nav > div > ul > li.current-menu-item > a > i.fa{
    color: white;
}
/* #nav > div > ul > li.current-menu-ancestor > ul > li.current-menu-ancestor > a, */
/* #nav > div > ul > li.current-menu-ancestor > ul li.current-menu-item > a, */
#nav > div > ul > li.current-menu-ancestor > ul > li.current-menu-ancestor > ul > li.current-menu-item > a,
#nav > div > ul > li.current-menu-ancestor > ul > li.current-menu-ancestor > ul > li > a:hover,
#nav > div > ul > li.current-menu-ancestor > ul > li.current-menu-item > ul > li > a:hover{
    font-weight: bold;
}
#nav > div > ul > li.current-menu-ancestor > .sub-menu,
#nav > div > ul > li.current-menu-item > .sub-menu{
    background: rgba(172, 191, 223, 0.5);
    /* background: #B8C8E4; */
}
#nav > div > ul > li.current-menu-item a:hover,
#nav > div > ul > li.current-menu-item > a,
#nav > div > ul > li > ul.sub-menu > li.current-menu-item > a,
#nav > div > ul > li > ul.sub-menu > li.current-menu-ancestor > a,
#nav > div > ul > li.current-menu-ancestor > ul.sub-menu > li > a:hover {
	background: #B8C8E4;
	color: #333;
}
#nav li.current-menu-parent > a,
#nav li.current-menu-ancestor > a,
#nav ul.sub-menu li.current-menu-parent > a,
#nav ul.sub-menu ul.sub-menu a:hover{
	/* font-weight: bold; */
}

/*** CONTENT ***/
#content{
	flex: 1;
	padding: 20px 40px;
	background: white;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 0px 2px rgba(0,0,0,0.24);
    border-radius: 4px;
    margin: 20px 0;
    max-width: 850px;
}
body.page-template-page_custom-list #content{
    max-width: none;
}

/*** SIDEBAR RIGHT: CONTENTS ***/
#contents{
    flex: 0 0 300px;
    background: white;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 0px 2px rgba(0,0,0,0.24);
    border-radius: 4px;
    margin: 20px 0;
    display: none;
    position: sticky;
    top: 90px;
    padding: 5px 0;
}
html.admin-bar #contents{
    top: 122px;
}
#contents.show{
    display: block;
}
#contents h3{
    padding-left: 14px;
    margin: 3px 0 3px 0;
}
#contents a{
    display: block;
    text-decoration: none;
    color: #333;
    padding: 3px 10px;
    border-left: 4px solid transparent;
}
#contents a:hover,
#contents a.active{
    font-weight: bold;
    background: #e5e5e5;
    border-left-color: var(--dark);
}


/*** FOOTER ***/
#footer{
	margin-top: 10px;
	padding: 20px 20px;
    background: var(--dark);
    color: #7e868c;
}
#footer .main-wrapper{
    display: flex;
    justify-content: space-between;
}
#footer ul{
    list-style: none;
    margin: 0;
}
#footer a{
    color: inherit;
    text-decoration: underline;
}

#title{
	font-weight: bold;
	text-transform: uppercase;
	margin: 5px 0 20px 0;
	padding: 0 0 10px 0;
	font-size: 26px;
	letter-spacing: 1px;
	border-bottom: 1px solid #ccc;
}
#content p{
	margin: 5px 0 10px 0;
}
#content h2{
	margin: 25px 0 15px 0;
}
#content h1[id]::before,
#content h2[id]::before {
  content: '';
  display: block;
  height:      100px;
  margin-top: -100px;
  visibility: hidden;
}
#content h3{
	margin: 20px 0 10px 0;
}
#content h4{
	margin: 10px 0 5px 0;
}
#content .wp-block-image{
	padding: 0;
	margin-bottom: 25px;
}
#content .wp-block-image.full{
	padding: 0;
}
#content .wp-block-image img{
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 0px 2px rgba(0,0,0,0.24);
	border: 5px solid white;
	max-height: 400px;
	max-width: 100%;
	width: auto;
	height: auto;
}
#content ul li ul, #content ol li ul{
	margin-bottom: 7px;
}
#content ul li, #content ol li{
	margin-bottom: 7px;
}
#content ul li ul li, #content ol li ol li, #content ol li ul li{
	margin-bottom: 2px;
}

/*** PAGE LIST ***/
.page-list{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3,minmax(0,1fr));
}
body.contents-visible .page-list{
    grid-template-columns: repeat(2,minmax(0,1fr));
}
p + .page-list{
    margin-top: 40px;
}
.page-list .page-item{
    padding: 15px 20px;
    color: #333;
    text-decoration: none;
}
.page-list .page-item:hover{
    background: #e5e5e5;
}
.page-list .page-item header{
    display: flex;
    align-items: center;
    column-gap: 15px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    padding-top: 5px;
    line-height: 1.4;
}
.page-list .page-item header i.fa{
    font-size: 24px;
    width: 30px;
    color: var(--primary);
    flex-shrink: 0;
}
.page-list .page-item .excerpt{
    opacity: 0.7;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 14px;
    line-height: 1.4;
    hyphens: auto;
}
